In [20]:
import pandas as pd
import random
import numpy as np
from math import *

In [1]:
import pandas as pd

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [32000,35000,37000,45000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

df.to_excel (r'export_dataframe.xlsx', index = False, header=True)

In [7]:
print(random.random())

0.1583143544522002

In [15]:
theta = np.random.rand(500)*np.pi
y = np.random.rand(500)*2

In [49]:
state = [0]*500
state_1 = [0]*500

In [16]:
theta_d = theta-np.pi/2

In [41]:
 modf(-0.23)

(-0.23, -0.0)

In [44]:
def result(v1,v2):
    if v2<0:
        v2 = - v2
        v1 = 2-v1
        rev = True
    else:
        rev = False
        
    hi = 1.5*tan(v2)
    (frac,gi) = modf((hi+v1)/2)
    #print((hi+v1)/2,frac)
    if gi% 2==0:
        state_i= floor(frac*4)
    else:
        state_i = 3- floor(frac*4)
    if rev == True:
        state_i = 3 - state_i
    return(state_i)

In [50]:
for i in range(len(theta)):
    theta_i = theta_d[i]
    yi = y[i]
    state_1[i] = result(yi,theta_i)